@page "/users-table"
@attribute [Authorize(Roles = "Admin")]

<h3>Users Table</h3>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>
                        @if (user.IsEditing)
                        {
                            <input @bind="user.Email" />
                        }
                        else
                        {
                            @user.Email
                        }
                    </td>
                    <td>
                        @if (user.IsEditing)
                        {
                            <button class="btn btn-primary" @onclick="() => SaveUser(user)">Save</button>
                            <button class="btn btn-secondary" @onclick="() => CancelEdit(user)">Cancel</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" @onclick="() => EditUser(user)">Edit</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
